<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>FaMedia - Entre ou Cadastre-se</title>
        <link rel="stylesheet" href="/public/styles/style.css" />
        <script src="/src/controllers/createAcc.js" defer></script>
        <script src="/src/controllers/forgetPass.js" defer></script>
    </head>
    <body>
        <div class="container">
            <div class="form-container">
                <img src="/public/images/Logo.png" alt="Logo" id="logo" />
                <div class="login">
                    <input
                        type="email"
                        name="email"
                        class="inp"
                        placeholder="Digite seu email"
                        autocomplete="off"
                    />
                    <input
                        type="password"
                        name="password"
                        class="inp"
                        placeholder="Digite sua senha"
                        autocomplete="off"
                    />
                    <button class="btn-purple">Entrar</button>
                    <p id="forget-password">Esqueceu a senha?</p>
                </div>
                <div class="division">ou</div>
                <div class="create-account">
                    <button id="btn-create" class="btn-white">
                        Criar nova conta
                    </button>
                </div>
            </div>
        </div>
    </body>
</html>
