<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>FaMedia</title>
        <link rel="stylesheet" href="/public/styles/style.css" />
    </head>
    <body>
        <div class="container">
            <div class="form-container">
                <img src="/public/images/Logo.png" alt="Logo" id="logo" />
                <div class="login">
                    <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Digite seu email"
                        autocomplete="off"
                    />
                    <input
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Digite sua senha"
                        autocomplete="off"
                    />
                    <button>Entrar</button>
                    <a href="#">Esqueceu a senha?</a>
                </div>
                <div class="division">ou</div>
                <div class="create-account">
                    <button>Criar nova conta</button>
                </div>
            </div>
        </div>
    </body>
</html>
